<div class="container">
  <div class="index">
    <h2>A Collection of Fantastic Books</h2>
  </div>
  <div class="">
    <%= image_tag('https://media.giphy.com/media/hxPwHuAIk7cpW/giphy.gif') %>
  </div>
</div>
