$mainColor:#34495e;
$altColor:#ecf0f1;

.navbar {
  background-color: $mainColor;
}

li {
  font-size: 20px;
}

h4 {
  padding: 0px;
  a{
    color:$altColor;
    &:hover, &:focus {
      color: darken($altColor, 20%);
      text-decoration: none;
    }
    }
  }
.book-box{
  // border:solid $altColor 1px;
  // border-radius: 10px;
  height: 280px;
}
.book-pic{
  max-width: 280px;
}
.book-main{
  height:200px;
}
body { padding-top: 80px; }
